@-webkit-keyframes argh-my-eyes {
    0% {
        background-color: #fff;
    }
    49% {
        background-color: rgb(228, 18, 18);
    }
    50% {
        background-color: #000;
    }
    99% {
        background-color: #4a4d41;
    }
    100% {
        background-color: #fff;
    }
}

@-moz-keyframes argh-my-eyes {
    0% {
        background-color: #fff;
    }
    49% {
        background-color: rgb(228, 18, 18);
    }
    50% {
        background-color: #000;
    }
    99% {
        background-color: #4a4d41;
    }
    100% {
        background-color: #fff;
    }
}

@keyframes argh-my-eyes {
    0% {
        background-color: #fff;
    }
    49% {
        background-color: rgb(228, 18, 18);
    }
    50% {
        background-color: #000;
    }
    99% {
        background-color: #4a4d41;
    }
    100% {
        background-color: #fff;
    }
}

h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 275px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    color: wheat;
    text-shadow: #111;
    outline-color: white;
    outline-width: 15px;
    -webkit-animation: 10ms
}

p {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

.textarea {
    margin: 20px;
    width: 600px;
    height: 100%;
    background: #4a4d41;
    Border-color: white;
    border: 10px #ccc solid;
    background: linear-gradient(to left, cyan 10%, yellow 50%);
}

ul,
ol {
    margin: 0px;
    padding: 0;
    border: 10px #ccc solid;
    width: 80%;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border: 1px solid black;
    display: block;
    width: 80%;
    -webkit-animation: argh-my-eyes 2s infinite;
    -moz-animation: argh-my-eyes 2s infinite;
    animation: argh-my-eyes 2s infinite;
}


}
li:hover {
    background-color: #555;
    color: white;
    opacity: 20%;
}
form {
    height: 110px;
    width: 190px;
    margin: auto;
    border: 1px #CCC solid;
    padding: 10px;
}
input,
textarea {
    padding: 5px;
    margin: 5px
}
body {
    background: linear-gradient(to right, #4a4d41 25%, red 25%, red 50%, cyan 50%, cyan 75%, yellow 75%);
}
.blink {
    width: 100%;
    height: 100%;
    padding: 0px;
    text-align: center;
    border: 25px;
    border-style: solid;
    border-color: black;
    background: white;
    -webkit-animation: argh-my-eyes 2s infinite;
    -moz-animation: argh-my-eyes 2s infinite;
    animation: argh-my-eyes 2s infinite;
}
.other {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 600%;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    color: wheat;
    text-shadow: #111;
    outline-color: white;
    outline-width: 15px;
    -webkit-animation: 10ms animation: blink 1s linear infinite;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: .5;
    }
    
    100% {
        opacity: 1;
    }
}
.text {
    backgroud-color: white;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}